extend ../../layout/app.pug

block content
    .section
        .columns
            .column.has-text-centered
                router-view

block scripts
    script(defer, async, src=Helper.mix("scripts/pages/auth/login.js"))