<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title ورود به سامانه

        link(rel='stylesheet' href=Helper.mix('/styles/app.css'))
    body
        #app
            login
    script(defer, src=Helper.mix('/scripts/pages/auth/login.js'))