<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title سازمان نظام مهندسی ساختمان
        link(rel="stylesheet", href=Helper.mix("/styles/app.css"))
        link(rel="stylesheet", href=Helper.mix("/styles/pages/home.css"))
    body
        #app
            new-dashboard
        script(defer, nonce=nonce, src=Helper.mix("/scripts/pages/test.js"))