doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Sunset V4.2
    link(rel='stylesheet' href=Helper.mix('styles/app.css'))
  body
    h1 Hello to Sunset v4.2
    #app
    script(defer src=Helper.mix('scripts/app.js'))
