doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Sunset V4.2
    link(rel='stylesheet' href='../dist/public/styles/app.css')
  body
    #app
    script(defer src='public/test.js')
