extend ../../layout/app.pug

block content
    .section
        .columns
            .column.has-text-centered
                h1.title.is-1.has-text-primary Welcome to Sunset V5

block scripts
    script(defer, async, src=Helper.mix("scripts/pages/home/index.js")) 