doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title SunS37 5

        link(rel="stylesheet", href=Helper.mix("styles/layout/base.css"))
        link(rel="stylesheet", href=Helper.mix("styles/layout/app.css"))

        script(defer src=Helper.mix("scripts/pages/home/index.js")) 
    body 
        h1 Hello Sunset 5